@page "/create-job"
@page "/create-job/{JobName}"

@using Microsoft.AspNetCore.Authorization;

@*@attribute [Authorize]*@

@inject IScriptOutputStreamService PowerShellService
@inject IScriptJobService ScriptJobService
@inject NavigationManager NavigationManager

<PageContainer Title="PowerShell Jobs" NestedTitle="@_headerTitle" PreviousPage="/jobs">
    <MudForm @ref="_jobForm" @bind-IsValid="@_canSaveJob" @bind-Errors="@_errors">
        <PageSection Title="Script">
            <div class="choose-file-container">
                <MudButton @onclick="PickAndLoadScript" Variant="Variant.Filled" Size="Size.Small">
                    <MudText>Choose File</MudText>
                </MudButton>
                @if (_job.Script.IsLoaded())
                {
                    <span class="file-label">
                        @_job.Script.FileName
                    </span>
                }
                else if (_job.Script.IsUnloaded())
                {
                    <span class="file-label">
                        No file selected
                    </span>
                }
            </div>
            @if (_job.Script.IsLoaded())
            {
                <p class="scroll script-content">
                    @foreach (string line in _job.Script.Content)
                    {
                        @line
                        <br>
                    }
                </p>
                <MudGrid Spacing="2">
                    <MudItem>
                        <MudButton @onclick="EditScript" Variant="Variant.Filled" Color="Color.Secondary" Style="color:white">
                            <MudText>Edit</MudText>
                        </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton @onclick="RefreshScript" Variant="Variant.Filled" Color="Color.Secondary" Style="color:white">
                            <MudText>Refresh</MudText>
                        </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton @onclick="RemoveScript" Variant="Variant.Filled" Color="Color.Secondary" Style="color:white">
                            <MudText>Remove</MudText>
                        </MudButton>
                    </MudItem>
                </MudGrid>
            }
            else if (_job.Script.LoadFailed())
            {
                <p>Script failed to load</p>
            }
        </PageSection>

        @if (_job.Script.IsLoaded())
        {
            <PageSection Title="Parameters">
                <div class="input-group">
                    @if (_job.Script.Parameters.Count() > 0)
                    {
                        @foreach (ScriptParameter parameter in _job.Script.Parameters)
                        {
                            string parameterName = parameter.Name.FirstCharToUpper();
                            string requiredError = "The " + parameter.Name + " field is required.";

                            // Cannot use two-way binding for these since parameter.Value is an object and must be casted to the correct type
                            @if (parameter.DesiredType == typeof(string))
                            {
                                // Provide a larger input field depending on the parameter name
                                int numLines = 1;
                                foreach (string trigger in s_extendedInputFieldTriggers)
                                {
                                    if (parameter.Name.Equals(trigger, StringComparison.OrdinalIgnoreCase))
                                    {
                                        numLines = 10;
                                        break;
                                    }
                                }
                                <div class="input-line">
                                    <MudTextField T="string" Label="@parameterName" Lines="@numLines" Variant="Variant.Filled" Margin="Margin.Dense"
                                                  Required="@parameter.Mandatory" Text="@((string)parameter.Value)" TextChanged="(text) => parameter.Value = text"
                                                  RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(int))
                            {
                                <div class="small-input-line">
                                    <MudNumericField T="int" Label="@parameterName" Variant="Variant.Filled" Margin="Margin.Dense" Required="@parameter.Mandatory"
                                                     Value="@((int)parameter.Value)" ValueChanged="(num) => parameter.Value = num"
                                                     RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(bool))
                            {
                                <div class="small-input-line">
                                    <MudSwitch T="bool" Label="@parameterName" Required="@parameter.Mandatory" Color="Color.Secondary"
                                               Checked="@((bool)parameter.Value)" CheckedChanged="(checkedValue) => parameter.Value = checkedValue"
                                               RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(DateTime))
                            {
                                // No need to explicitly update "date" since it references parameter.Value which is being updated every time the date changes
                                DateTime date = (DateTime)parameter.Value;
                                TimeSpan time = date.TimeOfDay;

                                <div class="small-input-line mud-date">
                                    <MudDatePicker Label="@parameterName" Variant="Variant.Filled" Margin="Margin.Dense" Required="@parameter.Mandatory"
                                                   PickerVariant="PickerVariant.Inline" Date="@date" DateChanged="(newDate) => parameter.Value = ((DateTime)newDate).Date.Add(time)"
                                                   RequiredError="@requiredError" />

                                    <MudTimePicker Label="@parameterName" Variant="Variant.Filled" Margin="Margin.Dense" AmPm="true" Time="@time"
                                                   TimeChanged="(newTime) => {
                                                        time = (TimeSpan)newTime;
                                                        parameter.Value = date.Date.Add(time);
                                                    }"
                                                    RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(string[]))
                            {
                                <div class="input-line">
                                    <MudExtensions.MudChipField T="string" Label="@parameterName" Margin="Margin.Dense" Required="@parameter.Mandatory"
                                                                Values="@((List<string>)parameter.Value)" Delimiter="Delimiter" FullWidth="true" ChipColor="Color.Default"
                                                                ChipVariant="Variant.Text" ChipSize="Size.Medium" WrapChips="true" ChipsMaxWidth="ChipsMaxWidth" Closeable="true"
                                                                Variant="Variant.Filled" RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(int[]))
                            {
                                <div class="input-line">
                                    <MudExtensions.MudChipField T="int" Label="@parameterName" Margin="Margin.Dense" Required="@parameter.Mandatory"
                                                                Values="@((List<string>)parameter.Value)" Delimiter="Delimiter" FullWidth="true" ChipColor="Color.Default"
                                                                ChipVariant="Variant.Text" ChipSize="Size.Medium" WrapChips="true" ChipsMaxWidth="ChipsMaxWidth" Closeable="true"
                                                                Variant="Variant.Filled" RequiredError="@requiredError" />
                                </div>
                            }
                            else if (parameter.DesiredType == typeof(bool[]))
                            {
                                <div class="input-line">
                                    <MudExtensions.MudChipField T="bool" Label="@parameterName" Margin="Margin.Dense" Required="@parameter.Mandatory"
                                                                Values="@((List<string>)parameter.Value)" Delimiter="Delimiter" FullWidth="true" ChipColor="Color.Default"
                                                                ChipVariant="Variant.Text" ChipSize="Size.Medium" WrapChips="true" ChipsMaxWidth="ChipsMaxWidth" Closeable="true"
                                                                Variant="Variant.Filled" RequiredError="@requiredError" />
                                </div>
                            }
                            else
                            {
                                <p>Parameter @parameterName is not supported</p>
                            }
                        }
                    }
                    else
                    {
                        <p>This script does not accept any parameters</p>
                    }
                </div>
            </PageSection>
        }

        <PageSection Title="Schedule">
                <div class="input-line">
                <MudCheckBox @bind-Checked="@_shouldRunJobNow" Color="Color.Secondary">Run Now</MudCheckBox>
                </div>
            @if (!_shouldRunJobNow)
                {
                    TimeSpan time = _runDate.TimeOfDay;

                    <div class="small-input-line mud-date">
                        <MudDatePicker Label="Run Date" Variant="Variant.Filled" Margin="Margin.Dense" Required="true"
                                       PickerVariant="PickerVariant.Inline" Date="@_runDate" DateChanged="(newDate) => _runDate = ((DateTime)newDate).Date.Add(time)"
                                       RequiredError="The Run Date field is required." />

                        <MudTimePicker Label="Run Time" Variant="Variant.Filled" Margin="Margin.Dense" AmPm="true" Time="time"
                                       TimeChanged="(newTime) => {
                                            time = (TimeSpan)newTime;
                                            _runDate = _runDate.Date.Add((TimeSpan)newTime);
                                       }"
                                       RequiredError="The Run Time field is required." />
                    </div>
                }
        </PageSection>

        <PageSection>
            <div class="input-group job-details">
                <div class="input-line">
                    <MudSelect T="string" @bind-Value="_job.Script.DeviceName" Label="Device" Variant="Variant.Filled" Margin="Margin.Dense" Required="true">
                        <MudSelectItem Value=@LocalhostDevice RequiredError="Device name field is required." />
                    </MudSelect>
                </div>
                <div class="input-line">
                    <MudCheckBox @bind-Checked="@_shouldViewJobResult" Color="Color.Secondary">View Job</MudCheckBox>
                </div>
            </div>
            <div class="create-job-buttons">
                <MudGrid Spacing="2">
                    <MudItem>
                        <MudButton @onclick="GoToJobs" Variant="Variant.Filled" Color="Color.Secondary" Style="color:white">
                            <MudText>Cancel</MudText>
                        </MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton @onclick="TrySaveJob" Variant="Variant.Filled" Color="Color.Secondary" Style="color:white" Disabled="!_job.Script.IsLoaded()">
                            <MudText>Done</MudText>
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </div>
            <ErrorList Errors="@_errors" />
        </PageSection>
    </MudForm>
</PageContainer>

@code {
    [Parameter]
    public string? JobName { get; set; }

    private const string LocalhostDevice = "Localhost";
    private const char Delimiter = ' ';
    private const int ChipsMaxWidth = 80;

    private MudForm _jobForm;
    private DateTime _runDate;
    private string[] _errors = { }; 
    private static readonly string[] s_extendedInputFieldTriggers = { "body", "description", "message" };

    private FilePickerFileType _allowedFileTypes;
    private PickOptions _filePickOptions;
    private ScriptJob _job;

    private string _headerTitle;
    private bool _creatingNewJob;
    private bool _shouldRunJobNow = true;
    private bool _shouldViewJobResult = true;
    private bool _canSaveJob;

    protected override void OnInitialized()
    {
        _allowedFileTypes = new FilePickerFileType(new Dictionary<DevicePlatform, IEnumerable<string>>
            {
                { DevicePlatform.WinUI, new[] { ".ps1" } },
                { DevicePlatform.macOS, new[] { "ps1" } }
            }
        );
        _filePickOptions = new PickOptions()
        {
            // PickerTitle is used by macOS but not Windows - unreliable for providing information to user
            PickerTitle = "Please select a PowerShell script file",
            FileTypes = _allowedFileTypes,
        };

        InitJob();

        PowerShellService.OutputChanged += (object sender, List<ScriptOutputMessage> newOutput) =>
        {
            InvokeAsync(() => this.StateHasChanged());
        };
    }

    private void InitJob()
    {
        if (JobName == null)
        {
            _creatingNewJob = true;
            _job = new ScriptJob("default job name", new PowerShellScript());
            _headerTitle = "New Job";
        }
        else
        {
            _job = ScriptJobService.TryGetJob(JobName);
            _headerTitle = $"Edit Job {JobName}";
        }
    }

    private async void PickAndLoadScript()
    {
        FileResult fileResult = await FilePickerHandler.PickFile(_filePickOptions);

        if (fileResult != null)
        {
            _job.Script.LoadFromFile(fileResult.FullPath);

            this.StateHasChanged();
        }
    }

    private void EditScript()
    {
        if (!_job.Script.IsLoaded()) return;

        FileHandler.OpenFileWithDefaultProgram(_job.Script.FilePath);
    }

    private void RefreshScript()
    {
        if (_job.Script.Refresh())
        {
            this.StateHasChanged();
        }
    }

    private void RemoveScript()
    {
        _job.Script.Unload();

        this.StateHasChanged();
    }

    private void GoToJobs()
    {
        NavigationManager.NavigateTo("/jobs");
    }

    private void TrySaveJob()
    {
        _jobForm.Validate();

        if (_canSaveJob)
        {
            if (_creatingNewJob)
            {
                ScriptJobService.AddJob(_job);
            }
            if (_shouldRunJobNow)
            {
                ScriptJobResult result = ScriptJobService.RunJob(_job, new PowerShellOutputStreamService(), CancellationToken.None);
                NavigationManager.NavigateTo(_shouldViewJobResult ? $"job-results/{result.Id}" : "/jobs");
            }
        }
    }
}
