@page "/job-results/{ResultId:int}"

@implements IDisposable

@inherits ScriptJobResultBase

<PageContainer Title="PowerShell Job Results" NestedTitle=@($"Result {Result.Id}") PreviousPage="/job-results">
    <div class="script-title">
        <p>Script: @Result.ScriptName</p>
        <div class="title-chip">
            <ChipText Color="@Result.Job.State.GetColor()" Text="@Result.Job.State.ToString()" />
        </div>
    </div>

    @*TODO: move this to a separate component that is subscribed to the state changed event*@
    <PageSection Title="Output">
        @for (int i = 0; i < Result.OutputStreamService.Output.Count(); i++)
        {
            OutputMessage psMessage = Result.OutputStreamService.Output[i];

            <div class="@psMessage.Stream">
                @((MarkupString)psMessage.Data)
            </div>
        }
    </PageSection>
</PageContainer>

@code {
    protected override void OnInitialized()
    {
        // Very important to make sure ScriptJobResultBase is populated
        base.OnInitialized();

        Result.OutputStreamService.OutputChanged += (object sender, ScriptOutputChangedEventArgs args) =>
        {
            InvokeAsync(() => this.StateHasChanged());
        };
    }

    public void Dispose()
    {
        Result.OutputStreamService.DisposeEventSubscriptions();
    }
}
