@page "/script-executor"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Management.Automation;
@using System.Diagnostics;
@using ITPortal.Lib.Services.Automation;
@using ITPortal.Lib.Services.Core;
@using ITPortal.Lib.Utils;
@using System.Management.Automation.Runspaces;

@inject IOutputStreamService<PSMessage, PSStream> PowerShellService

@*@attribute [Authorize]*@

<button @onclick="PickAndLoadScript">Choose file</button>

@if (script != null)
{
    @if (script.Parameters != null)
    {
        <hr>
        <p>Parameters:</p>

        <EditForm Model="@script.Parameters" OnSubmit="@RunScript">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" disabled="@(!script.Loaded || scriptRunning)">Run</button>
            </div>

            @foreach (var parameter in script.Parameters)
            {
                <p>@parameter.Name</p>
                //System.Diagnostics.Debug.WriteLine("Value:   " + parameter.Value + "   Type:   " + parameter.GetType());
                // Cannot use two-way binding for these since parameter.Value is an object and must be casted to the correct type
                @if (parameter.DesiredType == typeof(string))
                {
                    <MudTextField T="string" Required="@parameter.Mandatory" Text="@((string)parameter.Value)" TextChanged="(text) => parameter.Value = text" />
                }
                else if (parameter.DesiredType == typeof(int))
                {
                    <MudNumericField T="int" Required="@parameter.Mandatory" Value="@((int)parameter.Value)" ValueChanged="(num) => parameter.Value = num" />
                }
                else if (parameter.DesiredType == typeof(bool))
                {
                    <MudSwitch T="bool" Required="@parameter.Mandatory" Checked="@((bool)parameter.Value)" CheckedChanged="(checkedValue) => parameter.Value = checkedValue" />
                }
                else if (parameter.DesiredType == typeof(DateTime))
                {
                    <MudDatePicker PickerVariant="PickerVariant.Inline" Required="@parameter.Mandatory" Date="@((DateTime)parameter.Value)" DateChanged="(date) => parameter.Value = date" />
                }
                else if (parameter.DesiredType == typeof(string[]))
                {
                    <MudExtensions.MudChipField T="string" Values="@((List<string>)parameter.Value)" StyleChip="@(_disableRadius ? "border-radius: 0 !important" : null)" Delimiter="@_delimiter" FullWidth="true" Disabled="_disabled" ReadOnly="_readonly"
                                                ChipColor="_color" ChipVariant="_chipVariant" ChipSize="_chipSize" WrapChips="_wrapChips" MaxChips="_maxChips" ChipsMaxWidth="_chipsMaxWidth" Closeable="_closeable" Variant="_variant" Label="ChipField" />
                }
                else if (parameter.DesiredType == typeof(int[]))
                {
                    <MudExtensions.MudChipField T="int" Value="@_intValue" Values="@((List<string>)parameter.Value)" StyleChip="@(_disableRadius ? "border-radius: 0 !important" : null)" Delimiter="@_delimiter" FullWidth="true" Disabled="_disabled" ReadOnly="_readonly"
                                                ChipColor="_color" ChipVariant="_chipVariant" ChipSize="_chipSize" WrapChips="_wrapChips" MaxChips="_maxChips" ChipsMaxWidth="_chipsMaxWidth" Closeable="_closeable" Variant="_variant" Label="ChipField" />
                }
                else
                {
                    <p>Parameter @parameter.Name is not supported</p>
                }
            }
        </EditForm>
    }
    else if (script.Loaded)
    {
        <div class="form-group">
            <button class="btn btn-primary" disabled="@(!script.Loaded || scriptRunning)">Run</button>
        </div>

        <p>No parameters found</p>
    }

    <button @onclick="CancelRunScript" class="btn btn-primary" disabled="@(!scriptRunning)">Cancel</button>

    @if (script.Loaded)
    {
        <div class="form-group">
            <button @onclick="() => LoadScript()" class="btn btn-primary">Refresh</button>
            <button @onclick="EditScript" class="btn btn-primary">Edit</button>
            <button @onclick="RemoveScript" class="btn btn-primary">Remove</button>
        </div>
    }
}

<hr background-color="black" color="black" border="none">

@*Use standard for loop to avoid "Collection Was Modified error" caused by
  invalidating the iterator by adding elements while iterating (foreach has an implicit iterator)*@ 
@for (int i = 0; i < PowerShellService.Output.Count(); i++)
{
    var psMessage = PowerShellService.Output[i];

    <div class="@psMessage.Stream">
        @((MarkupString)psMessage.Data)
    </div>
}

@code {
    private FilePickerFileType psFileType;
    private PickOptions pickOptions;
    private PowerShellScript script;
    private CancellationTokenSource cts;
    //private DateTime date;
    private bool scriptRunning;

    char _delimiter = ' ';
    string _stringValue;
    int _intValue;
    List<string> _values;
    int _maxChips = 0;
    int _chipsMaxWidth = 80;
    Color _color = Color.Default;
    Variant _chipVariant = Variant.Filled;
    Variant _variant = Variant.Text;
    Size _chipSize = Size.Medium;
    bool _wrapChips;
    bool _disabled;
    bool _readonly;
    bool _disableRadius;
    bool _closeable = true;

    protected override void OnInitialized()
    {
        psFileType = new(new Dictionary<DevicePlatform, IEnumerable<string>>
            {
                { DevicePlatform.WinUI, new[] { ".ps1" } },
                { DevicePlatform.macOS, new[] { "ps1" } }
            }
        );
        pickOptions = new()
        {
                // PickerTitle is used by macOS but not Windows - unreliable way of informing user
            PickerTitle = "Please select a PowerShell script file",
            FileTypes = psFileType,
        };
        script = new PowerShellScript(PowerShellService);
        PowerShellService.OutputChanged += OnOutputChanged;
    }

    private void OnOutputChanged(object sender, List<PSMessage> newOutput)
    {
        InvokeAsync(() => this.StateHasChanged());
    }

    private void FieldChanged(string newValue)
    {
        System.Diagnostics.Debug.WriteLine("New value: " + newValue);
    }

    private async void PickAndLoadScript()
    {
        var fileResult = await FilePickerHandler.PickFile(pickOptions);

        if (fileResult != null)
        {
            LoadScript(fileResult.FullPath);
        }
    }

    private void LoadScript(string filePath = null)
    {
        if (scriptRunning) CancelRunScript();

        PowerShellService.Output.Clear();

        var loaded = filePath != null ? script.Load(filePath) : script.Refresh();

        if (loaded)
        {
            this.StateHasChanged();
        }
        else
        {
            PowerShellService.AddOutput("Error loading script");
            PowerShellService.AddOutput("<hr width=\"300px\" height=\"1px\"><b>EXECUTION FAILED</b>");
        }
    }

    private async void RunScript()
    {
        if (scriptRunning) CancelRunScript();

        PowerShellService.Output.Clear();
        cts = new CancellationTokenSource();

        cts.Token.Register(() =>
        {
            scriptRunning = false;
            PowerShellService.AddOutput("<hr width=\"300px\" height=\"1px\"><b>EXECUTION CANCELLED</b>");
        });

        PowerShellService.AddOutput("<b>BEGIN</b><hr width=\"300px\" height=\"1px\">");

        scriptRunning = true;
        await script.Invoke(cts.Token);
        scriptRunning = false;

        if (!cts.IsCancellationRequested)
        {
            PowerShellService.AddOutput("<hr width=\"300px\" height=\"1px\"><b>EXECUTION COMPLETE</b>");
        }
    }

    private void CancelRunScript()
    {
        scriptRunning = false;
        cts.Cancel();
    }

    private void RemoveScript()
    {
        if (scriptRunning) CancelRunScript();

        PowerShellService.Output.Clear();
        script = new PowerShellScript(PowerShellService);

        this.StateHasChanged();
    }

    private void EditScript()
    {
        if (!script.Loaded || script.FilePath == null) return;
        
        FileHandler.OpenFileWithDefaultProgram(script.FilePath);
    }
}