@page "/job-results/{ResultId:int}"
@inherits ScriptJobResultBase

<PageContainer Title="PowerShell Jobs" NestedTitle=@($"Job {Result.Id}") PreviousPage="/jobs">
    <div class="script-title">
        <p>Script: @Result.ScriptName</p>
        <div class="title-chip">
            <ChipText Color="@Result.Job.State.GetColor()" Text="@Result.Job.State.ToString()" />
        </div>
    </div>

    @*TODO: move this to a separate component that is subscribed to the state changed event*@
    <PageSection Title="Output">
        @for (int i = 0; i < Result.OutputStream.Output.Count(); i++)
        {
            OutputMessage psMessage = Result.OutputStream.Output[i];

            <div class="@psMessage.Stream">
                @((MarkupString)psMessage.Data)
            </div>
        }
    </PageSection>
</PageContainer>

@code {
    protected override void OnInitialized()
    {
        // Very important to make sure ScriptJobResultBase is populated
        base.OnInitialized();

        if (!Result.OutputStream.HasOutputChangedSubscriber)
        {
            Result.OutputStream.SubscribeToOutputChanged((object sender, List<OutputMessage> newOutput) =>
            {
                InvokeAsync(() => this.StateHasChanged());
            });
        }

        // TODO: support multiple subscriptions to the same event without adding duplicates
        // create dictionary here to track if it is already subscribed?
        Result.Job.SubscribeToStateChanged((object sender, ScriptJobState state) =>
        {
            InvokeAsync(() => this.StateHasChanged());
        });
    }
}
